*{
    margin: 0px;
    padding: 0px;

}

body{
 
 
}


/* .navbar {
    background-image:url("https://images.ctfassets.net/hrltx12pl8hq/6f2M9koJF7uhwGGao7WCX5/8683a9c8388dada729c7caeefc87872b/compressed_shutterstock_1274296330.jpg?fit=fill&w=800&h=300");
    height: 600px;
    background-repeat: no-repeat;
    width: 100%;
} */

.navbar .img::before{
    content: " ";
    display: block;
    position: absolute
    z-index: -1;

}


